/*

Project Name:  Home Page for 曾许曌秋 (Eliot)
Author: 曾许曌秋 (eliot) | zxzq.me 
At: Nanjing University

*/
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/wlop_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

#container{
    margin: 0 auto;
	width: 100%;
    color: #f795cc;
    line-height: normal;
}

/* 
 * Name and slogen(head)
 */

#head {
    width: 100%;
    color: white;
}

.home {
    text-align: start;
}


    h1{
        font-size: 50px;
        font-family: 'Zhi Mang Xing', cursive;
        margin: 0;
    }

    h1 zhao {
        font-size: 70px;
        color: rgba(240, 112, 81, 0.781);
        font-weight: normal;
    }

    slo {
        font-family: 'Zhi Mang Xing', cursive;
        font-size: 25px;
        padding: 2px
    }

/*   MAIN  */
#main {
    width: 100%;
}

    /*
    * About Me
    */
    

    section.aboutme {
        width: 100%;
        background: rgba(67, 27, 107, 0.50);
        color: #e3c91e;
        text-align: center;
        overflow: auto;
        padding: 65px 0 35px 0;
    }

    section.aboutme p {
        margin: 30px 20px;
    }
    section.aboutme .links p {
        margin: 70px 20px;
    }
    .a1, .a2, .a3 {
        border-radius: 50px;
        padding: 20px 50px;
        color: white;
        display: inline;
    }
    .a1 {
        background: #e0007b;
    }
    .a2 {
        background: #61d0d4;
    }
    .a3 {
        background: #29c494;
    }

    h2 {
        font-family: 'Baumans', cursive;
        font-size: 70px;
        margin: 30px auto 0 auto;
    }
    h3 {
        font-size: 50px;
        font-weight: normal;
        margin: 10px;
    }

    /* 
     * Contact me
     */
   
     #contact {
        width: 100%;
        background: rgba(224, 0, 123, 0.5);
        color: #e3c91e;
        text-align: center;
        overflow: auto; 
    }
    #contact li {
        font-family: 'Courgette', cursive;
        font-size: 25px;
        font-weight: normal; 
    }

    /* 
     * Blogs
     */
    
    #blogs {
        padding: 70px auto;
        width: 100%;
        background: rgba(97, 208, 212, 0.5);
        color: #e3c91e;
        text-align: center;
        overflow: auto; 
    }
    #blogs h3 {
        margin: 40px 0;
    }

    #blogs li {
        font-family: 'Courgette', cursive;
        font-size: 25px;
        font-weight: normal;
    }

    #blogs a {
        color: white;
    }

    #blogs a:hover {
        color: #75c1f6;
        transform: translateY(5px);
        font-weight: bold;
    }
    /* 
     * More
     */
    
     #more {
        width: 100%;
        background: rgba(255, 255, 255, 0.486);
        color: #e3c91e;
        text-align: center;
        overflow: auto; 
    }
    #more h3 {
        margin: 40px 0;
    } 
    /* 
     * Acknowledge
     */
    
     #acknowledge {
        width: 100%;
        background: rgba(41, 196, 147, 0.5);
        color: #e3c91e;
        text-align: center;
        overflow: auto; 
    } 
    #acknowledge h2 {
        font-size: 55px;
    }
    #acknowledge a {        
        color: white;
    }

    /*
     * footer
     */

    #footer p {
        font-size: 15px;
        margin: 0;
    }

p{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    font-weight: normal;
}

bold {
    font-weight: bold;
}
/*
 * link (a)
 */



a {
    color:#75c1f6;
	text-decoration: none;
}

.clear {
    clear: both;
}

/*
 *  font awsome
 */

#follow {
    padding: 0 30px 70px 0;
}

#follow span {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding-right: 10px;
    line-height: 70px;
    text-align: center;
}

i:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 70px;
    left: 17px;   /* FontAwesome shift right for some reason */
    position: absolute;
}



.i-github:before  {
    content: "\f09b";
}

.i-twitter:before {
    content: "\f099";
}

.i-zhihu:before {
    content: "\f111";
}

.text-zhihu {
    color: rgba(97, 208, 212, 0.9);
    position: absolute;
    font-size: 35px;
    z-index: 10;
    font-style: normal;
    font-weight: lighter;
}

.i-linkedin:before {
    content: "\f08c";
}

.i-facebook:before {
    content: "\f09a";
}

@media only screen and (min-width: 900px) {
    #container {
        width: 100%;
        margin: 0 auto 0 0;
    }

    body:before{
        width: 50%;
    }


    #one {
        display: block;
        background: url(../images/wlop_bg2.jpg) no-repeat center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    section.aboutme {
        width: 100%;
        background: linear-gradient(to right,rgba(67, 27, 107,0),rgba(67, 27, 107,0.3),rgba(67, 27, 107,0.55),rgba(67, 27, 107,0.850),rgba(67, 27, 107, 1),rgba(67, 27, 107, 1));
        padding: 20px 0;
    }
    #blogs {
        background: linear-gradient(to right,rgba(224, 0, 123, 1),rgba(224, 0, 123, 1),rgba(224, 0, 123, 1),rgba(224, 0, 123, 1),rgba(224, 0, 123, 1),rgba(224, 0, 123, 1),rgba(224, 0, 123, 0.8),rgba(224, 0, 123, 0.7),rgba(224, 0, 123, 0.5),rgba(224, 0, 123, 0.2));
        padding: 20px 0;
    }



    #contact {
        background: rgb(224, 0, 123);
    }


    #two:before {
        content: "";
        display: block;
        position: fixed;
        left: 50%;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -10;
        background: url(../images/wlop_bg.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #blogs {
        width: 100%;
        position: relative;
    }
    #more {
        width: 100%;
        position: relative;
        background: #f795cc;
        color: #c456fc;
    }
    #acknowledge {
        width: 100%;
        position: relative;
        background: #75c1f6;
        color: #c456fc;
    }
    

    #footer {
        background: white;
        text-align: center;
        font-weight: bold;
        padding: 30px;
    }

    section.aboutme {
        height: 100vh;
        min-height: 660px;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .links p {
        display: inline;
    }
    .links {
        margin: 70px 0;
    }
    .aboutme h2 {
        margin: 60px auto 30px auto;
    }
    #blogs {
        height: 100vh;
        min-height: 660px;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    #bloglinks {
        width: 50%;
        text-align: left;
    }

    .acknowlege {
        width: 80%;
        margin: 70px auto;
    }

    .text-zhihu {
        color: rgb(224, 0, 123);
    }
}


@media only screen and (max-width: 700px) {
    section.aboutme p {
        margin: 20px;
    }
    section.aboutme .links p {
        margin: 50px 20px;
    }
}

@media only screen and (max-width:900px) and (min-width:350px) {
    section.aboutme {
        height: 100vh;
        min-height: 756px;
        display: flex;
        align-items: center;
        justify-content:center;
        padding: 0;
    }
    section.aboutme h2 {
        margin: 0 auto;
        font-size: 60px;
    }
}