/*
Project Name: Column Layout
Author: Chris Castiglione @ onemonthhtml.com
Developed @ One Month in NYC
*/



/*----------------------------------------------------------------------------- 
=01 BASE STYLES 
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear Class */
.clear {
	clear: both;
}

body{
     color:white;
     background: url(../images/wlop_bg.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
	font-family: 'Courgette', cursive;
}

/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/


#container{
     width: 1000px;
     margin: 0 auto 0 auto;
}

/*
 * header
 */

#header{
     padding: 50px;
     background: rgba(192, 192, 192, 0.80);
}

#header p{
    font-size: 25px;
    margin:0;
}

/*
 * main
 */


#main{
     padding: 0;
     width: 700px;
     background: rgba(135, 207, 235, 0.80);
     float: left;
}

#main .blue {
    margin: 30px 30px 0 30px;
}
#main h2 {
    margin: 0;
}

#main section {
    padding: 15px 30px;
    margin: 0 30px;
    border-radius: 15px;
    background: rgba(0,0,0,0.2); 
}

#main section p {
    margin: 0;
    font-size: 15px;
    color: black;
}

    #main con {
        font-family: 'Ma Shan Zheng', cursive;
        font-size: 20px;
    }
    #main cen {
	    font-family: 'Courgette', cursive;
    }

    #main unsolved {
        color:rgba(128, 0, 128, 0.7);
    }

/*
 * sidebar
 */

#sidebar{
     width: 300px;
     background: rgba(255, 192, 203, 0.80);
     float: left;
     padding: 30px;
}

#sidebar h1 {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

    /*
     * img
     */

    .circle {
        width: 150px;
        border-radius: 100px;
    }

    /*
     * Hito
     */


    #hito p {
        font-family: 'Zhi Mang Xing', cursive;
        font-size: 30px;
    }

#footer{
     padding:30px;
     background: rgba(255, 218, 185, 0.80);

}



.blue{
     color: blue;
}
.red{
     color: red;
}
.alignleft{
     float: left;
     margin: 0 15px 15px 0;
}
.alignright{
     float: right;
     margin: 0 0 15px 15px;
}

h1{
     display: inline;
     background: rgba(0,0,0,0.4);
     padding: 15px;
     border-radius: 15px;
}

a {
    text-decoration: none;
}